
        <footer class="text-muted">
            <hr/>
            <small>
                &copy; {{ now.Format "2006"}} The Kubernetes Authors.
                Krew documentation is distributed under
                <a target="_blank" href='https://creativecommons.org/licenses/by/4.0/' class='text-muted'>CC-BY-4.0</a>.<br/>
                Krew is a Kubernetes <a href="https://github.com/kubernetes/community/blob/master/sig-cli/README.md#cli-special-interest-group" target="_blank">SIG CLI</a> project.
            </small>
        </footer>
        </div>
    </div><!-- .container -->
</body>
</html>
