<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, max-scale=1.0, min-scale=1.0">

    <title>{{.Title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{"/css/style.css" | relURL}}" />
</head>

<body>
    <div class="container shadow-lg col-xl-6 rounded py-md-4 px-md-5 my-md-5">
        <a href="{{"/" | relURL }}"><img src="{{ "/krew-logo.svg" }}" height="100vw"/></a>
