[build]
base = "site/"
publish = "public/"
command = "hugo && cd ./functions && go build -o api ./server"
functions = "functions/"

[build.environment]
HUGO_VERSION = "0.65.1"

[context.production.environment]
HUGO_ENV = "production"

[context.deploy-preview]
command = "hugo --buildFuture -b $DEPLOY_PRIME_URL && cd ./functions &&  go build -o api ./server"


[context.branch-deploy]
command = "hugo --buildFuture -b $DEPLOY_PRIME_URL && cd ./functions && go build -o api ./server"

