div.top-level-container {
    max-width: 960px;
}

blockquote, .blockquote {
    margin-left: 12px;
    color: #555;
    max-width: 520px;
    border-left: 2px solid #ddd;
    padding-left: 12px;
}

article h1, article h2, article h3, article h4 {
    font-weight: 300;
}

pre {
    padding: 12px;
    overflow: auto
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cliprompt {
    color: orange;
}

pre .cmdoutput {
    color: #aaa;
}

.lead {
    letter-spacing: -0.4px;
    font-weight: 300;
}

article aside.toc {
    background-color: #f8f8f8;;
    font-size: 1rem;
}
